@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
}

/* footer */
footer {
  border-top: 1px solid #1e2d3d;
}

/* landingPage */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  background: #010c15;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #010c15;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content"  */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
*/ .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#myDiv {
  display: none;
  text-align: center;
}

/* landingpage */

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #021728;
  border-radius: 5px;
  border: 1px solid #1e2d3d;
}
.pTag1 {
  cursor: default;
}
.navbar {
  border: 0.5px solid #1e2d3d;
  border-radius: 5px 5px 0px 0px;
}
.navbar ul li a {
  color: #607b96;
  font-family: "Fira Code", monospace;
  font-size: 16px;
}
.navbar ul li a:hover {
  color: white;
}

.contact a {
  color: #607b96;
  font-family: "Fira Code", monospace;
  font-size: 16px;
  cursor: pointer;
}
.contact a:hover {
  color: white;
}

.icon {
  color: #607b96;
  font-size: 25px;
}
.showcase {
  height: 70vh;
  margin-bottom: 10px;
}
.showcaseText1 {
  margin-bottom: 60px;
}
.showcaseText h1 {
  color: white;
  font-size: 62px;
}
.pTag1 {
  color: #4d5bce;
}
.pTag2 {
  color: #43d9ad;
}
.pTaga {
  color: #e99287;
}
.pTaga:hover {
  color: #e99287;
}
.insta {
  color: #c4c4c4a5;
  font-size: 18px;
}
.insta:hover {
  background: -webkit-linear-gradient(
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.twitter {
  color: #c4c4c4a5;
  font-size: 18px;
}
.twitter:hover {
  color: rgb(60, 128, 218);
}
.github {
  display: flex;
  cursor: pointer;
  color: #c4c4c4a5;
  font-size: 25px;
}
.github:hover {
  color: white;
}

/* About container */
.showcase1 {
  border-right: 1px solid #1e2d3d;
  width: 4%;
}
.showcase2 {
  color: white;
  border-right: 1px solid #1e2d3d;
  width: 17%;
}

.showcase2 ul li {
  list-style: none;
  color: white;
}
.showcase3 {
  border-right: 1px solid #1e2d3d;
  width: 40%;
  color: #c4c4c4a5;
}
.showcase4 {
  display: flex;
  flex-direction: column;
  width: 37%;
  color: #c4c4c4a5;
}

.html a {
  cursor: pointer;
  color: #c4c4c4a5;
  font-size: 16px;
}
.html1:hover {
  background-color: #1e2d3d;
  color: white;
}

/* workContainer */
.showcase5 {
  display: flex;
  flex-direction: column;
  width: 77%;
  color: #c4c4c4a5;
}
.workContainer {
  gap: 20px;
}
.workText h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 5rem;
  font-family: "Noto Sans TC", sans-serif;
}
.work a span {
  letter-spacing: 2px;
  padding: 2rem 0rem 2rem 0rem;
  cursor: pointer;
  transition: 0.5s linear;
  text-decoration: none;
}

.work a:hover span:nth-child(1):after {
  content: "Go Live";
  color: red;
}
.work a:hover span:nth-child(2) {
  margin-left: 30px;
}

.workHover1 a span {
  letter-spacing: 2px;
  padding: 2rem 0rem 2rem 0rem;
  cursor: pointer;
  transition: 0.5s linear;
  text-decoration: none;
}

.workHover1 a:hover span:nth-child(1)::before {
  content: "Go Live ";
  color: red;
}
.workHover1 a:hover span:nth-child(2) {
  margin-left: 30px;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.contactLink {
  display: none;
}

.work0,
.work2 {
  animation: 2s ease-out 0s 1 slideInRight;
}

.work1,
.work3 {
  animation: 1s ease-out 0s 1 slideInLeft;
}
/* contact me */
.formInput {
  display: flex;
  border: none;
  outline: none;
  gap: 2rem;
}
.formInput input {
  display: flex;
  width: 100%;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.467);
  color: white;
  outline: none;
  border-radius: 1rem;
}

.formInput textarea {
  display: flex;
  width: 100%;
  height: 30vh;
  flex: 1;
  border: none;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background: rgba(255, 255, 255, 0.467);
  color: white;
  outline: none;
  border-radius: 1rem;
}

.formInput input:hover {
  transform: scale(1.005);
}

form button {
  padding: 0.5rem 2rem;
  color: white !important;
  background: rgba(241, 238, 238, 0.164) !important;
  border: none;
  border-radius: 1rem;
}
form button:hover {
  transform: scale(1.05);
  background-color: rgba(18, 18, 18, 0.164) !important;
}

@media (max-width: 600px) {
  .showcase {
    height: 60vh;
  }
}
